<!--The content below is only a placeholder and can be replaced.-->
<div>
    <app-counter [from]=0 [to]=50 [of]="100" [fontSize]="300" [delay]="5000" (finished)="finished()">
        <ng-counter-suffix>%</ng-counter-suffix>
    </app-counter>
</div>
<div>
    <app-counter #manual [from]=0 [to]=75 [of]="100" [mode]="'manual'">
        <ng-counter-suffix>%</ng-counter-suffix>
    </app-counter>
    <button (click)="counterComponent.start()">Start</button>
    <button (click)="counterComponent.stop()">Stop</button>
    <button (click)="counterComponent.restart()">Restart</button>
</div>
<div>
    <app-counter [from]=0 [to]=50 [of]="100" [showCircle]="false">
        <ng-counter-suffix>$</ng-counter-suffix>
    </app-counter>
</div>
<div style="height: 1000px">
</div>
<app-counter [from]=0 [to]=50 [of]="100" [mode]="'viewport'">
    <ng-counter-suffix>%</ng-counter-suffix>
</app-counter>

